<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<title>Diabetic Prediction</title>

<style>

body{
background-image:url(./static/photo.jpg);
background-size:500px;
background-repeat:no-repeat;
}

</style>

</head>

<body>

<div class="header bg-primary text-white p-2">

<marquee>

<h1>
Diabetes Prediction In Pregnant Women
</h1>

</marquee>

</div>


<div class="container text-black col-md-4"
style="margin-top:10px; border-radius:10px; opacity:0.8;">

<h3>Login Here</h3>

<h4 style="color:red;">{{result}}</h4>

<form action="/login" method="post">

<table class="table">

<tr>
<td>
<input type="text" name="uname" placeholder="User name" required>
</td>
</tr>

<tr>
<td>
<input type="password" name="pwd" placeholder="Password" required>
</td>
</tr>

<tr>
<td>
<input type="submit" class="btn btn-danger">
</td>
</tr>

</table>

</form>

</div>

</body>
</html>
